extends _layouts/base

include _modules/link/link

block content
	section.hero.is-primary.is-bold
		.hero-body
			.container
				h1.title All of my projects!
				h2.subtitle Well, the public ones at least.
	hr
	.container
		div#repos
			ul
				each val,ind in site.data.repos
					hr
					.box
						li(href= val.html_url)= val.name + ' - ' + val.description
							a(href= val.html_url target="_blank")= ' (' + val.full_name + ')'
