extends _layouts/base


block content
	section.hero.is-primary.is-bold
		.hero-body
			.container
				a(href='https://github.com/willyb321' target='_blank')
					img.image.is-128x128.right(src='https://avatars0.githubusercontent.com/u/9222609?v=3')
				h1.title All of my projects!
				h2.subtitle Well, the public ones at least.
	hr
	.container
		div#repos
			ul
				each val,ind in site.data.repos
					.box
						if val.description !== null
							li= val.name + ' (' + val.stargazers_count + '⭐' + ')' + ' - ' + val.description
								a(href= val.html_url target="_blank")= ' (' + val.full_name + ')'
						else
							li(href= val.html_url)= val.name
								a(href= val.html_url target="_blank")= ' (' + val.full_name + ')'
